@charset "UTF-8";

#cart-wrap {
    width       : 950px;
    margin-right: auto;
    margin-left : auto;
    font-size   : 12px;
}

.cart-head {
    height             : 28px;
    background-image   : url(../images/goodsShopcar/cart-icon.png);
    background-repeat  : no-repeat;
    background-position: 10px 5px;
    padding-top        : 40px;
    padding-left       : 610px;
}

#cartShadow {
    visibility      : hidden;
    background-color: #f5f5f5;
    top             : 0px;
    left            : 0px;
    position        : absolute;
    opacity         : 0.6;
}

#cartShadow2 {
    visibility      : hidden;
    background-color: #6d6d6d;
    top             : 0px;
    left            : 0px;
    position        : absolute;
    opacity         : 0.6;
    width           : 300px;
    height          : 150px;
}

#cartSuc {
    position  : absolute;
    visibility: hidden;
    background: #ffffff url(/images/right2.gif) no-repeat 20px 35px;
    font-size : 14px;
    height    : 150px;
    border    : 1px solid #666666;
    width     : 300px;
    z-index   : 100;

    .title {
        padding         : 3px;
        background-color: #dcdcdc;
        font-weight     : bold;

        a {
            position       : relative;
            left           : 250px;
            text-decoration: none;
            color          : #00016c;
        }
    }

    .content {
        color       : #228623;
        padding-top : 10px;
        padding-left: 70px;
        line-height : 28px;

        a {
            color: #0002f2;
        }
    }
}

#sucCD {
    font-size   : 12px;
    float       : right;
    margin-right: 10px;
    color       : #333333;
}

.clearfix {
    HEIGHT: 1px;
    CLEAR : both;
}

ul {
    &.cart-nav {
        margin         : 0px;
        float          : right;
        display        : block;
        height         : 16px;
        list-style-type: none;
        padding        : 0px;
        width          : 275px;
        overflow       : hidden;
    }

    &.act {
        display        : inline;
        _height        : 20px;
        margin         : 0px;
        padding        : 0px;
        list-style-type: none;

        li {
            font-size          : 12px;
            line-height        : 22px;
            float              : left;
            margin-top         : 0px;
            margin-right       : 20px;
            margin-bottom      : 0px;
            margin-left        : 0px;
            height             : 22px;
            padding-right      : 50px;
            margin-bottom      : 7px;
            margin-left        : 0px;
            margin-right       : 15px;
            white-space        : nowrap;
            background-image   : url(/images/disc.gif);
            background-repeat  : no-repeat;
            background-position: left 9px;
            padding-left       : 9px;
        }
    }
}

.cart-nav {
    li {
        height            : 16px;
        display           : block;
        float             : left;
        margin            : 0px;
        padding-top       : 0px;
        padding-right     : 6px;
        padding-bottom    : 0px;
        padding-left      : 6px;
        text-decoration   : none;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #cccccc;
        line-height       : 16px;

        a {
            &:link {
                color          : #999999;
                text-decoration: none;
            }

            &:visited {
                color          : #999999;
                text-decoration: none;
            }

            &:hover {
                color          : #333333;
                text-decoration: underline;
            }
        }
    }
}

.cart-date {
    width     : 948px;
    text-align: center;
    border    : 1px solid #cccccc;

    td {
        text-align : center;
        font-family: Arial, Helvetica, sans-serif;
    }

    a {
        &:link {
            color          : #003399;
            text-decoration: none;
        }

        &:visited {
            color          : #003399;
            text-decoration: none;
        }

        &:hover {
            text-align     : center;
            color          : #ff9900;
            text-decoration: underline;
        }
    }
}

.gray-border {
    height: 32px;

    td {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        border-bottom-color: #cccccc;

        &:nth-child(2){
            width: 466px;
        }

        div{
            a{
                display: block;
                width: 100%;
            }
        }
    }
}

.cart-tip {
    background-image   : url(../images/goodsShopcar/cart-tip-bg.png);
    background-repeat  : repeat-x;
    background-position: top;
    height             : 33px;
    text-align         : center;
    color              : #333333;
}

.amount {
    font-size    : 14px;
    text-align   : right;
    padding-right: 10px;
    margin-top   : 5px;
    font-family  : Arial, Helvetica, sans-serif;
    color        : #333333;
}

.font-red {
    color    : #ff0000;
    font-size: 12px;
}

.cart-area {
    height    : 30px;
    margin-top: 15px;

    a {
        &:link {
            color          : #003399;
            text-decoration: none;
        }

        &:visited {
            color          : #003399;
            text-decoration: none;
        }

        &:hover {
            text-align     : center;
            color          : #ff9900;
            text-decoration: underline;
        }
    }
}

.cart-btn-dle {
    height     : 30px;
    width      : 627px;
    line-height: 30px;
    float      : left;
}

.cart-btn {
    float     : left;
    height    : 30px;
    width     : 120px;
    text-align: right;
}

form {
    margin: 0px;
}

.ctlAnt {
    text-align    : center;
    font-size     : 12px;
    width         : 30px;
    padding-top   : 2px;
    padding-bottom: 2px;
    color         : Blue;
    font-weight   : bolder;
}

.antn {
    background-color: #ffffff;
    border          : 1px solid #d3e2fa;
    background-color: #ffffff;
    border          : 1px solid #d3e2fa;
}

.antpmt {
    position        : absolute;
    visibility      : hidden;
    border          : 1px solid #f2a251;
    background-color: #fff9b0;
    color           : #00008b;
    padding         : 5px;
    opacity         : 0.85;
    white-space     : nowrap;
    font-size       : 12px;
}

#pro_tip {
    padding-top     : 5px;
    line-height     : 20px;
    opacity         : 0.9;
    position        : absolute;
    top             : 10px;
    left            : 10px;
    visibility      : hidden;
    border          : 1px solid #f2a251;
    background-color: #fffce3;
    padding         : 5px;
    text-align      : center;
    color           : #000000;
    white-space     : nowrap;
    font-size       : 12px;

    a {
        text-decoration: none;
    }
}

#cart_tip {
    height          : 40px;
    padding-top     : 5px;
    line-height     : 20px;
    opacity         : 0.9;
    position        : absolute;
    visibility      : hidden;
    border          : 1px solid #f2a251;
    background-color: #fffce3;
    text-align      : center;
    padding         : 5px;
    font-size       : 12px;

    a {
        text-decoration: none;
    }
}

#cartErr {
    display: none;
}

#btnExchange {
    font-size: 12px;
    padding  : 1px;
}

#dhqAccount {
    font-size     : 12px;
    padding       : 2px;
    font-weight   : bold;
    font-family   : Verdana, Arial, sans-serif;
    width         : 160px;
    vertical-align: middle;
}